// @import "~@ngx-share/button/themes/default/default-theme";

.form-group {
  display: flex;
  margin-top: 20px;
  flex-direction: column;

  label {
    margin-bottom: 11px;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .form-field {
    border-radius: 3px;
    border: 1px solid rgb(187, 187, 187);
    padding: 12px;
    font-size: 16px;
    font-weight: 300;
    background-color: transparent;

    &::placeholder {
      font-family: "Libre Franklin", sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: rgba(3, 3, 3, 0.5);
    }

    &:focus {
      border: 1px solid black;
      outline: none;
    }
  }

  .helper-text {
    margin-top: 5px;
    font-weight: 300;
    padding: 10px;
    background-color: rgba(187, 187, 187, 0.2);
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;

    h2 {
      font-size: 12px;
    }
  }
}

.warning {
  margin: 22px;
  font-weight: 300;
}

a {
  margin-top: 10px;
  font-size: 12px;
  text-decoration: none;
  span {
    display: block;
  }
}
