<div class="form-group">
  <label for="email">Email</label>
  <input
    [formControl]="email"
    type="text"
    placeholder="Mountain Project Email..."
  />
</div>
<app-spinner *ngIf="loading$ | async as loading"></app-spinner>
<div *ngIf="routeRatings$ | async as routeEntity; else noUser">
  <app-horizontal-bar-chart
    *ngIf="routeEntity"
    [routeEntity]="routeEntity"
    labelName="Your Pyramid"
    color="#fcb900"
    hoverColor="#ffce49"
    [min]="min"
    [max]="max"
  ></app-horizontal-bar-chart>
</div>
<app-horizontal-bar-chart
  [routeEntity]="idealRouteRatings"
  labelName="Ideal Pyramid"
  color="#333333"
  [min]="min"
  [max]="max"
></app-horizontal-bar-chart>
<ng-template #noUser>
  <div
    class="warning"
    *ngIf="email.valid && !email.pristine && !(loading$ | async)"
  >
    * Unable to find Mountain Project email
  </div>
</ng-template>
