<div class="form-group">
  <label for="email">Email</label>
  <input
    class="form-field"
    [formControl]="email"
    type="email"
    placeholder="Mountain Project Email..."
  />
</div>
<div class="form-group">
  <label for="max-grade">Target Redpoint</label>
  <select class="form-field" [formControl]="maxGrade" name="max-grade">
    <option *ngFor="let grade of climbingGradesDescending" [value]="grade">{{
      grade
    }}</option>
  </select>
</div>
<div class="form-group">
  <label for="date">Ticks</label>
  <select class="form-field" [formControl]="sinceDate" name="date">
    <option value="all-time">All Time</option>
    <option value="this-year">This Year</option>
  </select>
</div>
<!-- <div class="form-group">
  <label for="min-grade">Min Grade</label>
  <select class="form-field" [formControl]="minGrade" name="min-grade">
    <option *ngFor="let grade of climbingGrades" [value]="grade">{{
      grade
    }}</option>
  </select>
</div> -->
<div class="form-group">
  <label for="pyramidType">Pyramid Type</label>
  <select class="form-field" [formControl]="pyramidType" name="pyramidType">
    <option *ngFor="let type of pyramidTypes" [value]="type.name">{{
      type.name
    }}</option>
  </select>
  <div *ngIf="selectedPyramidHelperText" class="helper-text">
    <h2>{{ selectedPyramidHelperText.title }}</h2>
    <div>{{ selectedPyramidHelperText.subText }}</div>
  </div>
  <a href="https://warriorsoftheweekend.com/tick-pyramid-app/"
    ><span>Where do these pyramids come from?</span>
    <span>Why are my ticks/grades slightly different?</span></a
  >
</div>
<app-spinner *ngIf="loading$ | async as loading"></app-spinner>
<div *ngIf="routeRatings$ | async as routeEntity; else noUser">
  <app-horizontal-bar-chart
    *ngIf="
      routeEntity && {
        idealRouteRatings: idealRouteRatings$ | async,
        minMaxClimbs: minMaxClimbs$ | async
      } as data
    "
    [idealRouteEntity]="data.idealRouteRatings"
    [actualRouteEntity]="routeEntity"
    labelName="Your Pyramid"
    color="#fcb900"
    hoverColor="#ffce49"
    [min]="data.minMaxClimbs.min"
    [max]="data.minMaxClimbs.max"
  ></app-horizontal-bar-chart>
</div>
<ng-template #noUser>
  <div
    class="warning"
    *ngIf="email.valid && !email.pristine && !(loading$ | async)"
  >
    * Unable to find Mountain Project email
  </div>
</ng-template>
<share-buttons
  [theme]="'default'"
  [include]="[
    'facebook',
    'twitter',
    'reddit',
    'linkedin',
    'email',
    'whatsapp',
    'copy'
  ]"
  [show]="3"
  [autoSetMeta]="false"
></share-buttons>
