.form-group {
  display: flex;
  margin-top: 20px;
  flex-direction: column;

  label {
    margin-bottom: 11px;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .form-field {
    border-radius: 3px;
    border: 1px solid rgb(187, 187, 187);
    padding: 12px;
    font-size: 16px;
    font-weight: 300;
    background-color: transparent;

    &::placeholder {
      font-family: "Libre Franklin", sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: rgba(3, 3, 3, 0.5);
    }

    &:focus {
      border: 1px solid black;
      outline: none;
    }
  }
}

.warning {
  margin: 22px;
  font-weight: 300;
}

.test {
  border: 2px solid red;
}
